<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <%- partial("../_common/head-meta") %>
    <script>
      // Check if SVG is supported
      if (document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1")) {
        document.documentElement.className += " svg";
      } else {
        document.documentElement.className += " no-svg";
      }
    </script>

    <link rel="stylesheet" href="<%- Util.toAssetsUrl('/styles/main.css') %>">
  </head>

  <% var controllerClass = (req.options.controller || "").replace(/\//g, " "); %>

  <body class="<%- controllerClass %> <%- req.options.action %>">

    <%- body %>

    <script async src="<%- Util.toAssetsUrl('/js/main.js') %>"></script>
  </body>
</html>
