<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <%- partial("../_common/head-meta") %>
    <link rel="stylesheet" href="<%- Util.toAssetsUrl('/styles/main.css') %>">
  </head>

  <% var controllerClass = (req.options.controller || "").replace(/\//g, " "); %>
  <body class="<%- controllerClass %> <%- req.options.action %>">
    <%- body %>
  </body>
</html>